body{
    margin:0px;
    padding:0px;
    background-color: black;
}
#game-screen{
   width:1100px;
   height:550px;
   padding-left:135px;
   padding-top: 65px;
}
a{
    font-size: 26px;
    padding:175px;
    color:darkcyan;
    text-decoration: none;
}
